@{
    ViewBag.Title = "Contact Information";
}

<div class="well">
    <h2>@ViewBag.Title</h2>
    <hr />

    <address>
        <strong>Arnon Sturm</strong><br>
        Department of Information Systems Engineering<br />
        Ben-Gurion University of the Negev<br />
        POB 653, Beer Sheva, 8410500, Israel<br />
    </address>

    <address>
        <strong>Email:</strong> <a href="mailto:sturm@bgu.ac.il">sturm@bgu.ac.il</a><br />
    </address>
</div>