@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="well">
    <hgroup class="title">
        <h3><b>@ViewBag.Title</b></h3>
    </hgroup>
    <hr />
    <div>
        <h4>
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </h4>
    </div>
</div>
